body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.style_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  flex-direction: column;
}
